<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.approval.ApprovalSideMapper">
<select id="selectByListAll" resultType="document">
SELECT j.document_no, j.document_title, j.employee_id "employee.employeeId", e.name "employee.name",
	draft_date, j.document_type "documentType.dType", j.ap_type "approval.apType.apStatusType"
	from employee e join (
	SELECT * FROM (select a.* 
	FROM ((SELECT d.document_title, d.document_no, draft_date, d.employee_id,d.document_type, ap_type  
	FROM approval a JOIN document d ON a.document_no=d.document_no 
	WHERE a.employee_id=#{id} and a.ap_step!=0)
	UNION ALL
	(SELECT d.document_title, d.document_no, draft_date, d.employee_id, d.document_type,ap_type  
	FROM agreement ag JOIN document d ON ag.document_no=d.document_no 
	WHERE ag.employee_id=#{id})
	UNION ALL
	(SELECT d.document_title,d.document_no, draft_date, d.employee_id,d.document_type,ap_type  
	FROM reference r JOIN document d ON r.document_no=d.document_no 
	WHERE r.employee_id=#{id})
	UNION ALL
	(SELECT document_title,document_no, draft_date, employee_id,document_type,'확인' 
	FROM document d
	WHERE employee_id=#{id}))a
	JOIN document d ON a.document_no= d.document_no
	)) j ON e.employee_id = j.employee_id  
	ORDER BY draft_date ASC
</select>
<select id="selectByListStatus" parameterType="java.util.HashMap" resultType="document">
SELECT j.document_no, j.document_title, j.employee_id "employee.employeeId", e.name "employee.name",
	draft_date, j.document_type "documentType.dType", j.ap_type "approval.apType.apStatusType"
	from employee e join (
	SELECT * FROM (select a.* 
	FROM ((SELECT d.document_title, d.document_no, draft_date, d.employee_id,d.document_type, ap_type  
	FROM approval a JOIN document d ON a.document_no=d.document_no 
	WHERE a.employee_id=#{id} and a.ap_step!=0)
	UNION ALL
	(SELECT d.document_title, d.document_no, draft_date, d.employee_id, d.document_type,ap_type  
	FROM agreement ag JOIN document d ON ag.document_no=d.document_no 
	WHERE ag.employee_id=#{id})
	UNION ALL
	(SELECT d.document_title,d.document_no, draft_date, d.employee_id,d.document_type,ap_type  
	FROM reference r JOIN document d ON r.document_no=d.document_no 
	WHERE r.employee_id=#{id})
	UNION ALL
	(SELECT document_title,document_no, draft_date, employee_id,document_type,'확인' 
	FROM document d
	WHERE employee_id=#{id}))a
	JOIN document d ON a.document_no= d.document_no
	WHERE document_status=#{status}
	)) j ON e.employee_id = j.employee_id  
	ORDER BY draft_date ASC
</select>
<!-- 사이드바 : 전체개수 -->
<select id="selectByCountAll" resultType="int">
	SELECT count(*) AS total FROM (select a.* 
    FROM ((SELECT a.document_no FROM approval a WHERE a.employee_id=#{id} and a.ap_step!=0) 
    UNION ALL 
    (SELECT ag.document_no FROM agreement ag WHERE ag.employee_id=#{id})
    UNION ALL 
    (SELECT re.document_no FROM reference re WHERE re.employee_id=#{id})
    UNION ALL
    (SELECT dd.document_no FROM document dd WHERE dd.employee_id=#{id}))a 
	JOIN document d ON a.document_no= d.document_no)
</select>
<!-- 사이드바 : 대기개수 -->
<select id="selectByCountWait" resultType="int">
	SELECT count(*) AS total FROM (select a.* 
    FROM ((SELECT a.document_no FROM approval a WHERE a.employee_id=#{id} and a.ap_step!=0) 
    UNION ALL 
    (SELECT ag.document_no FROM agreement ag WHERE ag.employee_id=#{id})
    UNION ALL 
    (SELECT re.document_no FROM reference re WHERE re.employee_id=#{id})
    UNION ALL
    (SELECT dd.document_no FROM document dd WHERE dd.employee_id=#{id}))a 
	JOIN document d ON a.document_no= d.document_no WHERE d.document_status='대기')
</select>
<!-- 사이드바 : 반려개수 -->
<select id="selectByCountNo" resultType="int">
	SELECT count(*) AS total FROM (select a.* 
    FROM ((SELECT a.document_no FROM approval a WHERE a.employee_id=#{id} and a.ap_step!=0) 
    UNION ALL 
    (SELECT ag.document_no FROM agreement ag WHERE ag.employee_id=#{id})
    UNION ALL 
    (SELECT re.document_no FROM reference re WHERE re.employee_id=#{id})
    UNION ALL
    (SELECT dd.document_no FROM document dd WHERE dd.employee_id=#{id}))a 
	JOIN document d ON a.document_no= d.document_no WHERE d.document_status='반려')
</select>
<!-- 사이드바 : 승인개수 -->
<select id="selectByCountOk" resultType="int">
	SELECT count(*) AS total FROM (select a.* 
    FROM ((SELECT a.document_no FROM approval a WHERE a.employee_id=#{id} and a.ap_step!=0) 
    UNION ALL 
    (SELECT ag.document_no FROM agreement ag WHERE ag.employee_id=#{id})
    UNION ALL 
    (SELECT re.document_no FROM reference re WHERE re.employee_id=#{id})
    UNION ALL
    (SELECT dd.document_no FROM document dd WHERE dd.employee_id=#{id}))a 
	JOIN document d ON a.document_no= d.document_no WHERE d.document_status='승인')
</select>
</mapper>
