<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.main.MainPageMapper">
	<select id="selectById" resultType="employee">
		SELECT employee_id "employeeId", name, password, department_id
		FROM employee
		WHERE employee_id=#{id}
	</select>
	<select id="selectLeave" resultType="leave">
		SELECT employee_id "employeeId", grant_days, (grant_days-remain_days), remain_days
		FROM leave
		WHERE employee_id=#{id}
	</select>
</mapper>